@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    /* background-image: linear-gradient(120deg, #ebebeb 0%, #9e4244 100%); */
    overflow:auto;
    scroll-behavior: smooth;
    scroll-padding-top: 10px;
}

.navbar
{
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    max-height: 80px;
    background: transparent;
    

}

.navbar .search-bar-container
{
    margin-top: 15px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);

}



.search-bar-container
{
    /* background-color: aquamarine; */
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    min-height: 30px;
    max-height: 60px;
    height: 100%;
    background-color: rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    padding-right: 10px;
    border-radius: 30px;
    backdrop-filter: blur(8px);
}


.search-bar-container .search-bar
{
    width: 100%;
    max-width: 450px;
    min-height: 30px;
    height: 100%;
    background-color: rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    padding-right: 10px;
    border-radius: 60px;
    backdrop-filter: blur(10px);
}

.search-bar-container input
{
    background: transparent;
    /* background-color: aliceblue; */
    outline: none;
    border: none;
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    padding: 0 5px;
    padding-right: 10px;
    color: #4a4a4b;
    /* color: #ffffff; */
    font-weight: 480;
    font-family:Arial, Helvetica, sans-serif;
}

input::placeholder
{
    color: #71797E;
    /* color: #ffffff; */
    font-weight: 480;
    font-size: 17px;

}


.search-bar-container button
{
    background-color: #9E4244;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 2px; */

    
}

.search-bar-container button:hover
{
    background-color: #FFFFFF;
    
}

.search-bar-container button i
{
    color: #EBEBEB;
    /* font-size: 25px; */
}

.search-bar-container button i:hover
{
    color: #9E4244;
}


.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.container .quote-box
{  
    background-color: #9E4244;
    /* background-image: linear-gradient(120deg, #9e4244 0%, #ebebeb 100%); */
    max-width: 650px;
    width: 100%;
    border-radius: 15px;
    margin-top: 150px;
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /* box-shadow: inset 6px 6px 10px 0 rgba(66, 66, 66, 0.2), inset -6px -6px 10px 0 rgba(90, 90, 90, 0.2); */
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
    
    
}

@media screen and (max-width: 767px) {
    
    /* .container
    {
        position: relative;
        top: 20px;
    } */
    

}



.quote-box .header
{
    font-size: 35px;
    text-align: center;
    color: #101820;
    color: #EBEBEB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
    margin-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;;
    
}

.quote-box .quote-area
{
    display: flex;
    justify-content: center;
    color: #101820;
    color: #EBEBEB;
}

.quote-area i{
    font-size: 15px;

}

.quote-area i:first-child
{
    margin: 3px 10px 0 0;
    /* display: flex;
    align-items: flex-start; */
}
.quote-area i:last-child
{
    margin: 0 0 3px 10px;
    display: flex;
    align-items: flex-end;
}

.quote-area p
{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    word-break:keep-all;
    color: #EBEBEB;
    /* width: fit-content; */
    
}

.quote-box .author
{
    display: flex;
    justify-content: flex-end;
}

.author
{
    font-family: monospace;
    font-size: 18px;
    margin-top: 15px;
    border-bottom: 1px solid #EBEBEB;
}

.author span
{
    color: #EBEBEB;
}

.author span:first-child
{
    margin: -9px 5px 0 0;
    
}

.author span:last-child
{
    font-style: italic;
}



.quote-box .buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    /* background-color: blue; */
    align-items: center;
}

.buttons .features
{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.features ul
{
    display: flex;
    /* background-color: blue; */
    align-items: center;
    /* justify-content: flex-start; */
    
}

.features ul  li
{
    list-style: none;
    margin-right: 10px;
    height: 47px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1.5px solid #EBEBEB;
    background-color: #EBEBEB;
    color: #9E4244;
    font-weight: 500px;
    font-size: 20px;
    transition: all 0.3s ease-in;
    
}

.features ul li:hover
{
    background-color: #9E4244;
    color: #EBEBEB;
}


.buttons .new-button
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: aqua; */
}

@media screen and (max-width: 767px) {
    .buttons .new-button {
      justify-content: center;
    }

    .buttons .features
    {
        justify-content: center;
    }
  }

  /* @media screen and (min-width: 767px){
    
    .buttons .features
    {
        display: flex;
        justify-content: center;
    }
  } */


.new-button .new-quote-button
{
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border: 1.5px solid #EBEBEB;
    color: #9E4244;
    background-color: #EBEBEB;
    padding: 10px 15px;
    border-radius: 33px;
    transition: all 0.2s ease-in;
    margin-bottom: 10px;
}

.new-button .new-quote-button:hover
{
    background-color: #9E4244;
    color: #EBEBEB;
}



.container .quote-table
{

    box-sizing: content-box;
    max-width: 700px;
    width: 100%;
    margin: 70px 0 15px 0;
}

table tbody tr #quote-date
{
    white-space: nowrap;
}


